<div class="row">
  <div class="col text-center">
    <img class="" width="200px" src="img/boring-man.jpg" alt="Dzakwan Irfan Ramdhani">
    <h1 class="">Dzakwan Irfan Ramdhani</h1>
    <p class="">Dreamer | Full Stack Developer</p>
  </div>
</div>

